@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F8F9F9] text-[#2F3941] antialiased min-h-screen font-sans;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #F3F5F5;
}
::-webkit-scrollbar-thumb {
  background: #C2C8CC;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #87929D;
}
